<section>

  <div class="jumbotron">
    <h2>Create a new company</h2>
    <p class="lead">You can create only one company at the moment.</p>
  </div>

  <form class="form-horizontal col-md-12" autocomplete="false">
    <div class="form-group">
      <label>Company name</label>
      <input class="form-control" type="text" name="name" ng-model="vm.company.name">
    </div>
    <div class="form-group">
      <label>Country</label>
      <input type="text"
      name="country"
      ng-model="vm.selected.country"
      uib-typeahead="country as country.name for country in ::vm.countries | filter:{name:$viewValue} | limitTo:8"
      uib-typeahead-editable="false"
      typeahead-select-on-exact="true"
      uib-typeahead-select-on-exact="true"
      typeahead-on-select="vm.selectedCountry($item)"
      autocomplete="false"
      class="form-control">
    </div>
    <div class="form-group">
      <label>Address</label>
      <input class="form-control" type="text" name="address" ng-model="vm.company.address">
    </div>
    <div class="form-group">
      <label>Summary</label>
      <textarea class="form-control" ng-model="vm.company.summary"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-block btn-lg" ng-click="vm.createCompany()">Create company</button>
    </div>
  </form>
</section
