<div class="jobs-list">
  <div class="row">

    <div class="no-data col-md-12" ng-if="!vm.jobs">
      Currently there are no jobs to display.
    </div>
    
    <div class="job-item col-md-12" ng-repeat="job in vm.jobs">

      <h2>
        <a href="#/jobs/{{::job.slug}}/{{::job._id}}">
          {{::job.title}}
        </a>
      </h2>
      <p>
        <a href="#/companies/{{::job.company.slug}}/{{::job.company._id}}">
          {{::job.company.name}}
        </a>
        <span>{{::job.country}}</span>
        <span>{{::job.createdAt}}</span>
      </p>
      <div>{{::job.summary}}</div>

    </div>
  </div>
</div>
