<section class="row">
  <div class="col-md-8">

    <h1>{{::vm.user.name}}</h1>
    <p>Email: <span>{{::vm.user.email}}</span></p>

    <div class="profile-block" ng-repeat="block in ::vm.user.profile">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{::block.title}}</h3>
        </div>
        <div class="panel-body">
          <div class="profile-block-entries">

            <div ng-repeat="entry in ::block.data">
              <h4>{{::entry.title}}</h4>
              <p>{{::entry.subTitle}}</p>
              <div>{{::entry.description}}</div>
              <hr>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
